:root{
   --green : #43793D
}

body{
   background-color : black;
   font-family : 'Trebuchet MS', sans-serif;
   color : black;
   padding : 0px;
   margin : 0px
}

header{
   background : black;
   --linkheadervisibility : collapse;
}

p{
   padding: 20px;
}

h1{
   margin : 0px;
   padding : 20px;
   color : white;
}

.first-element{
   display: flex;
   width: 100%;
   flex-wrap: wrap;
   justify-content: flex-start;
}
.first-element-left{
   display: flex;
   width: 50%;
   background-image: url("./image/tram.jpg");
   background-size: cover;
}


.first-element-right{
   display: flex;
   width: 50%;
}

.first-element-right img{
   min-width: 100%;
   height: 100%;
   object-fit: cover;
}


.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 15px;
  background-color: black;
}

.gallery-item {
   position: relative;
   width: calc(25% - 20px);
   height: auto;
   margin: 10px;
   cursor: pointer;
   transition: transform 0.5s ease;
   object-fit: contain;
}

.gallery-item:hover {
  transform: scale(1.05);
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  transition: opacity 0.5s ease;
}

/* Modal content (image) */
.modal-content {
   position: relative;
   max-width: 90%;
   max-height: 90%;
   border-radius: 5px;
   overflow: hidden;
   animation: zoomIn 0.5s;
   object-fit: contain;
}

@keyframes zoomIn {
  from {transform: scale(0.6);}
  to {transform: scale(1);}
}

.modal.show {
  display: flex;
  opacity: 1;
}

/* Close button */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  color: #ffffff;
  font-size: 35px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Caption of modal image */
.caption {
  position: absolute;
  bottom: 15px;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .gallery-item {
    width: calc(50% - 20px);
  }
}

@media screen and (max-width: 480px) {
  .gallery-item {
    width: calc(100% - 20px);
  }
}

.linkheader{
   display: flex;
   align-content:center;
   justify-content: center;
}

.dropbtn {
   background-color: black;
   color: white;
   padding: 16px;
   font-size: 16px;
   border: none;
 }
 
 .dropdown {
   position: relative;
   display: inline-block;
 }
 
 .dropdown-content {
   display: none;
   position: absolute;
   background-color: #ffffff;
   min-width: 160px;
   width:fit-content;
   box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
   z-index: 1;
 }
 
 .dropdown-content a {
   color: black;
   font-size : 16px;
   padding: 12px 16px;
   text-decoration: none;
   display: block;
 }
 
 .dropdown-content a:hover {
   background-color: #ddd;
}
 
 .dropdown:hover .dropdown-content {
   display: block;
}
 
 .dropdown:hover .dropbtn {
   background-color: var(--green);
}
ul{
   display:inline-flex;
   padding : 0px;
   list-style-type: "none";
   align-items: center;
   flex-wrap: wrap;
}

li{
   background-color: black; 
   border: none;
   padding: 15px 32px;
   display: inline-block;
   font-size: 16px;
   margin: 0px 0px;
   cursor: pointer;
   -webkit-transition-duration: 0.6s;
   transition-duration: 0.6s;
}
li:hover{
   background-color: var(--green);
}
a{
   text-decoration: none;
   color:white
}

.button {
   background-color: var(--green); 
   border: none;
   color: white;
   padding: 15px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   cursor: pointer;
   -webkit-transition-duration: 0.4s;
   transition-duration: 0.4s;
 }
 
 .button:hover {
   box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 6px 20px 0 rgba(0,0,0,0.19);
 }